header {
  background: linear-gradient(to bottom, #3b270c, #8b5e3c);
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 5rem;
  color: #fffff0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 1rem;
  color: #fffff0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}