body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', serif;
}

/* ------------- HEADER ------------------- */


/* ------------- NAV ------------------- */
.nav-sec {
  position: relative;
  height: 40rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ------------- ABOUT ------------------- */

.about-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f4f4f4;
}

.card {
  margin: 5rem;
  padding: 4rem;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 50%; 
  background-color: #ffffff;
  text-align: center;
}

.card h2 {
  color: #8b5e3c;
}

.card p {
  color: #666666; 
  padding: 0rem 2rem;
  line-height: 1.6; 
  text-align: justify;
}

/* ------------- COURSES ------------------- */

.course-sec {
  padding: 2rem;
}

.course-sec h2 {
  text-align: center;
  color: #3b270c ;
  font-size: 2rem;
}

.course-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* ------------- CONTACT ------------------- */

.contact-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f4f4f4;
}

.card p {
  padding-bottom: 2rem;
}

.button {
  background-color: #8b5e3c; 
  color: #fffff0;
  border: none;
  text-decoration: none;
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', serif; 
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3b270c;
}

/* ------------- FOOTER ------------------- */

#copyright {
  font-size: 0.6rem;
  vertical-align: super;
  margin-left: 2px;
}

/* ------------- RESPONSIVE ------------------- */
