<footer class="footer">
  <div class="icons">
    <a href="https://www.instagram.com/mariyah_pvt" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/mariyadhanse" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/@MariyahBlogs" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/in/mariyadhanse" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/MariyahWorkspace" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="links">
    <a href="#">Privacy Notice</a> |
    <a href="#">Terms of Use</a> |
    <a href="#">Do not use for commercial purposes</a> |
    <a href="#">Cookie Preferences</a>
  </div>
  <p>
    <span id="copyright">&copy;</span> 2024 Orient. All rights reserved.
  </p>
</footer>